<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wework.base.mapper.OrderMapper">

	<resultMap type="com.wework.base.domain.po.OrderTablePO" id="orderMap">
		<result property="order_id" column="orderId" jdbcType="BIGINT" />
		<result property="user_id" column="userId" jdbcType="BIGINT" />
		<result property="store_id" column="storeId" jdbcType="BIGINT" />
		<result property="use_start_time" column="useStartTime" jdbcType="DATE" />
		<result property="use_end_time" column="useEndTime" jdbcType="DATE" />
		<result property="apply_fee" column="applyFee" jdbcType="DECIMAL" />
		<result property="order_status" column="orderStatus" jdbcType="TINYINT" />
		<result property="use_hours" column="useHours" jdbcType="DECIMAL" />
		<result property="coupon_id" column="couponId" jdbcType="BIGINT" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="is_deL" property="isDel" jdbcType="TINYINT" />

	</resultMap>

	<insert id="createOrder">
		insert into order_table(
			user_id,
			store_id,
			use_start_time,
			order_status,
			create_time,
			is_del)
			values(
			#{po.userId},
			#{po.storeId},
			#{po.useStartTime},
			#{po.orderStatus},
			now(),
			0)
	</insert>

	<update id="deleteOrder">
		update  order_table set is_del = 1 where order_id = #{orderId}
	</update>


	<update id="updateUseIntegral">
		update  user set integral = #{integral} where user_id = #{userId}
	</update>

	<update id="updateOrder">
		update
			order_table
		set
		<if test="po.useEndTime != null">
			use_end_time =#{po.useEndTime},
		</if>
		<if test="po.useHours != null and po.useHours != ''">
			use_hours =#{po.useHours},
		</if>
		<if test="po.applyFee != null and po.applyFee != ''">
			apply_fee =#{po.applyFee},
		</if>
		<if test="po.orderStatus != null and po.orderStatus != ''">
			order_status =#{po.orderStatus},
		</if>
		<if test="po.couponId != null and po.couponId != ''">
			coupon_id =#{po.couponId},
		</if>
			is_del =0,
		where
			order_id = #{po.orderId}
	</update>

	<select id="getOrderList" resultMap="orderMap">
		SELECT
		A.order_id,
		A.user_id,
		A.store_id,
		A.use_start_time,
		A.use_end_time,
		A.use_hours,
		A.apply_fee,
		A.order_status,
		A.coupon_id,
		B.coupon_name,
		A.create_time
		FROM order_table A
		LEFT JOIN coupon B
		ON A.coupon_id = B.coupon_id
		WHERE  A.is_del = 0
		AND A.user_id =#{userId}
	</select>


	<select id="findOrderNumByStatus" resultType="INTEGER">
		SELECT
			COUNT(*)
		FROM order_table
		WHERE  is_del = 0
		AND order_status = #{orderStatus}
		AND user_id =#{userId}
	</select>
</mapper>