<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wework.base.mapper.StoreMapper">

	<resultMap type="com.wework.base.domain.po.StorePO" id="storeMap">
		<result property="store_id" column="storeId" jdbcType="BIGINT" />
		<result property="store_name" column="storeName" jdbcType="VARCHAR" />
		<result property="apply_fee" column="applyFee" jdbcType="DECIMAL" />
		<result property="store_introduction" column="storeIntroduction" jdbcType="VARCHAR" />
		<result property="arrival_way" column="arrivalWay" jdbcType="VARCHAR" />
		<result property="open_start_time" column="openStartTime" jdbcType="TIMESTAMP" />
		<result property="open_end_time" column="openEndTime" jdbcType="TIMESTAMP" />
		<result property="off_start_time" column="openStartTime" jdbcType="TIMESTAMP" />
		<result property="off_end_time" column="offEndTime" jdbcType="TIMESTAMP" />
		<result property="coupon_id" column="couponId" jdbcType="BIGINT" />
		<result property="longitude" column="longitude" jdbcType="DECIMAL" />
		<result property="latitude" column="latitude" jdbcType="DECIMAL" />
		<result column="thumbnail_url" property="thumbnailUrl" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="is_deL" property="isDel" jdbcType="TINYINT" />
		<result column="seat_num" property="seatNum" jdbcType="TINYINT" />
	</resultMap>

	<resultMap type="com.wework.base.domain.po.StoreServicePO" id="storeServiceMap">
	<result property="id" column="id" jdbcType="BIGINT" />
	<result property="store_id" column="storeId" jdbcType="BIGINT" />
	<result property="service_name" column="serviceName" jdbcType="VARCHAR" />
</resultMap>

	<resultMap type="com.wework.base.domain.po.CityStoreNumPO" id="cityStoreMap">
		<result property="num" column="num" jdbcType="BIGINT" />
		<result property="city" column="city" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 获取门店列表 -->
	<select id="getStoreList" resultMap="storeMap">
		SELECT
		A.store_id,
		A.store_name,
		A.apply_fee,
		A.store_introduction,
		A.open_start_time,
		A.open_end_time,
		A.off_start_time,
		A.off_end_time,
		A.longitude,
		A.latitude,
		A.thumbnail_url,
		A.seat_num
		FROM store A
		WHERE  A.is_del = 0
	</select>
	<!-- 根据城市获取门店列表 -->
	<select id="getStoreListByCity" resultMap="storeMap">
		SELECT
		A.store_id,
		A.store_name,
		A.apply_fee,
		A.arrival_way,
		A.store_introduction,
		A.open_start_time,
		A.open_end_time,
		A.off_start_time,
		A.off_end_time,
		A.longitude,
		A.latitude,
		A.thumbnail_url,
		A.seat_num
		FROM store A
		WHERE  A.is_del = 0
		AND A.city = #{city}
		<if test="storeType != null and storeType != ''">
			AND A.store_type =#{storeType}
		</if>
	</select>

	<update id="updateStoreInfo">
		update
		store
		set
		<if test="po.storeName != null and po.storeName != ''">
			store_name =#{po.storeName},
		</if>
		<if test="po.storeType != null and po.storeType != ''">
			store_type =#{po.storeType},
		</if>
		<if test="po.applyFee != null and po.applyFee != ''">
			apply_fee =#{po.applyFee},
		</if>
		<if test="po.city != null and po.city != ''">
			city =#{po.city},
		</if>
		<if test="po.storeIntroduction != null and po.storeIntroduction != ''">
			store_introduction =#{po.storeIntroduction},
		</if>
		<if test="po.arrivalWay != null and po.arrivalWay != ''">
			arrival_way =#{po.arrivalWay},
		</if>
		<if test="po.openStartTime != null">
			open_start_time =#{po.openStartTime},
		</if>
		<if test="po.openEndTime != null">
			open_end_time =#{po.openEndTime},
		</if>
		<if test="po.offStartTime != null">
			off_start_time =#{po.offStartTime},
		</if>
		<if test="po.offEndTime != null">
			off_end_time =#{po.offEndTime},
		</if>
		<if test="po.longitude != null and po.longitude != ''">
			longitude =#{po.longitude},
		</if>
		<if test="po.latitude != null and po.latitude != ''">
			latitude =#{po.latitude},
		</if>
		<if test="po.thumbnailUrl != null and po.thumbnailUrl != ''">
			thumbnail_url =#{po.thumbnailUrl},
		</if>
		<if test="po.seatNum != null and po.seatNum != ''">
			seat_num =#{po.seatNum},
		</if>
		is_del =0
		where
		store_id = #{po.storeId}
	</update>
	<!-- 获取门店明细 -->
	<select id="findStoreDetail" resultMap="storeMap">
		SELECT
		A.store_id,
		A.store_name,
		A.apply_fee,
		A.arrival_way,
		A.store_introduction,
		A.open_start_time,
		A.open_end_time,
		A.off_start_time,
		A.off_end_time,
		A.longitude,
		A.latitude
		FROM store A
		WHERE  A.is_del = 0
		AND A.store_id = #{storeId}
	</select>
	<select id="findStoreService" resultType="String">
		SELECT
			B.service_name
		FROM store_service A,service B
		WHERE  A.is_del = 0
		AND A.service_id = B.service_id
		AND A.store_id = #{storeId}
	</select>

	<select id="findStoreImage" resultType="String">
		SELECT
			A.image_url
		FROM store_image A
		WHERE  A.is_del = 0
		AND A.store_id = #{storeId}
	</select>
	<select id="findEvaluate" resultType="com.wework.base.domain.po.StoreEvaluatePO">
		SELECT
			A.score,
			A.description,
			A.evaluate_name,
			A.evaluate_time
		FROM store_evaluate A
		WHERE  A.is_del = 0
		AND A.store_id = #{storeId}
		ORDER BY ABS(NOW() - A.evaluate_time) ASC
		limit 1
	</select>

	<insert id="saveStoreEvaluate"  parameterType="com.wework.base.domain.po.StoreEvaluatePO" keyProperty="po.id" useGeneratedKeys="true" >
		<!--<selectKey resultType="java.lang.Long" keyProperty="id" order="AFTER" > SELECT LAST_INSERT_ID()  AS id </selectKey>-->
		insert into store_evaluate(
			store_id,
			score,
			description,
			evaluate_name,
			evaluate_time,
			create_time,
			is_del)
			values(
			#{po.storeId},
			#{po.score},
			#{po.description},
			#{po.evaluateName},
			now(),
			now(),
			0)
	</insert>

	<select id="findCityStoreNum" resultMap="cityStoreMap">
		select count(*) num, city from store where is_del = 0 group by city;
	</select>


	<update id="updateHomeImage">
		update
		carousel_map
		set
		<if test="carouselMapPo.activeImage != null and carouselMapPo.activeImage != ''">
			active_image =#{carouselMapPo.activeImage},
		</if>
		<if test="carouselMapPo.couponImage != null and carouselMapPo.couponImage != ''">
			coupon_image =#{carouselMapPo.couponImage},
		</if>
		<if test="carouselMapPo.generalImage != null and carouselMapPo.generalImage != ''">
			general_image =#{carouselMapPo.generalImage}
		</if>
		where
		id = #{carouselMapPo.id}
	</update>
</mapper>