<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.wework.base.mapper.StoreMapper">

	<resultMap type="com.wework.base.domain.po.StorePO" id="storeMap">
		<result property="store_id" column="storeId" jdbcType="BIGINT" />
		<result property="store_name" column="storeName" jdbcType="VARCHAR" />
		<result property="apply_fee" column="applyFee" jdbcType="DECIMAL" />
		<result property="store_introduction" column="storeIntroduction" jdbcType="VARCHAR" />
		<result property="arrival_way" column="arrivalWay" jdbcType="VARCHAR" />
		<result property="open_start_time" column="openStartTime" jdbcType="TIME" />
		<result property="open_end_time" column="openEndTime" jdbcType="TIME" />
		<result property="coupon_id" column="couponId" jdbcType="BIGINT" />
		<result property="longitude" column="longitude" jdbcType="DECIMAL" />
		<result property="latitude" column="latitude" jdbcType="DECIMAL" />
		<result column="thumbnail_url" property="thumbnailUrl" jdbcType="VARCHAR" />
		<result column="create_time" property="createTime" jdbcType="DATE" />
		<result column="is_deL" property="isDel" jdbcType="TINYINT" />
	</resultMap>

	<resultMap type="com.wework.base.domain.po.StoreServicePO" id="storeServiceMap">
		<result property="id" column="id" jdbcType="BIGINT" />
		<result property="store_id" column="storeId" jdbcType="BIGINT" />
		<result property="service_name" column="serviceName" jdbcType="VARCHAR" />
	</resultMap>
	<!-- 获取门店列表 -->
	<select id="getStoreList" resultMap="storeMap">
		SELECT
		A.store_id,
		A.store_name,
		A.apply_fee,
		A.open_start_time,
		A.open_end_time,
		A.longitude,
		A.latitude,
		A.thumbnail_url
		FROM store A
		WHERE  A.is_del = 0
		AND A.longitude = #{longitude}
		AND A.latitude = #{latitude}
		<if test="storeType != null and storeType != ''">
			AND A.store_type =#{storeType}
		</if>
	</select>

	<!-- 获取门店明细 -->
	<select id="findStoreDetail" resultMap="storeMap">
		SELECT
		A.store_id,
		A.store_name,
		A.apply_fee,
		A.store_introduction,
		A.open_start_time,
		A.open_end_time,
		A.longitude,
		A.latitude
		FROM store A
		WHERE  A.is_del = 0
		AND A.store_id = #{storeId}
	</select>
	<select id="findStoreService" resultType="String">
		SELECT
			B.service_name
		FROM store_service A,service B
		WHERE  A.is_del = 0
		AND A.service_id = B.service_id
		AND A.store_id = #{storeId}
	</select>

	<select id="findEvaluate" resultType="com.wework.base.domain.po.StoreEvaluatePO">
		SELECT
			A.score,
			A.description,
			A.evaluate_name,
			A.evaluate_time
		FROM store_evaluate A
		WHERE  A.is_del = 0
		AND A.store_id = #{storeId}
		ORDER BY ABS(NOW() - A.evaluate_time) ASC
		limit 1
	</select>

	<insert id="saveStoreEvaluate">
		insert into store_evaluate(
			store_id,
			score,
			description,
			evaluate_name,
			evaluate_time,
			create_time,
			is_del)
			values(
			#{po.storeId},
			#{po.score},
			#{po.description},
			#{po.evaluateName},
			now(),
			now(),
			0)
	</insert>
</mapper>